
        <!-- Default Responsive Bootstrap Navigation -->

        <!-- Include radim class to the nav to make it vertical -->
        <nav class="radim navbar navbar-default" role="navigation">
            <div class="navbar-header" style="height:110px;">

                <!-- Your Brand Name -->
                <a class="navbar-brand" href=""><img src="img/logo.png"/></a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">

                    <!-- The navbar content here -->

                    <!-- Search -->

                    <li class="seperator"></li>

                    <!-- Menu -->

                    <li>
                        <a ui-sref="home">
                            <span class="glyphicon glyphicon glyphicon-home glyphicon-size"></span>
                            <span class="menu-description gill-sans-menu">Home</span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="responseData">
                            <span class="glyphicon glyphicon-list glyphicon-size"></span>
                            <span class="menu-description gill-sans-menu">Response Data</span>
                        </a>
                    </li>
                    <li class="active">
                        <a ui-sref="about">
                            <span class="glyphicon glyphicon-info-sign glyphicon-size-active"></span>
                            <span class="menu-description gill-sans-menu-active">About This App</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- End of default navbar -->

        <!-- Your Page Content // Add container-radim class to the div which should be the only sibling of "nav.radim" -->
        <div class="container-radim" id="background-size-div">
            <div class="container-fluid" id="background-img-div"> <!-- container-fluid/conatiner -->
            <div class="row">
                <div class="col-sm-12 text-center header-row">
                       <span class="extra-large-text text-corners">ABOUT THIS APP</span>
                </div>
            </div>
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-1 text-center">
                        <img src="img/me-in-phone.png" style="height:500px;" />
                    </div>
                    <div class="col-sm-7">
                       <div class="col-sm-12 text-center">
                           <span class="about-page-title text-corners">TECHNOLOGIES USED</span>
                       </div>
                        <div class="col-sm-12 text-center">
                           <img src="img/wordlebw-transparent.png" style="width:60%;margin-top:10px;margin-bottom:20px;" />
                       </div>
                       <div class="col-sm-12 text-center">
                           <span class="about-page-title text-corners">ABOUT MICHAEL TAYLOR</span>
                       </div>                       
                       <div class="col-sm-12 text-justify about-michael-taylor-row-spacing">
                           <span class="about-page-text">This is my very first MEAN stack app. For a little over a year I have been a frontend developer using AngularJS 1.X and am looking to become a full-stack developer. If you like this app, and would like to reach out, my contact information is below.</span>
                       </div>
                       <div class="col-sm-12 about-michael-taylor-row-spacing">
                           <span class="about-page-text">Email: <a href="mailto:mike@mrtinnovations.com" target="_top" style="letter-spacing:1px;color:#333333;">mike@mrtinnovations.com</a></span><br />
                           <span class="about-page-text">Phone: (303) 229-6333</span><br />
                           <span class="about-page-text">LinkedIn: <a href="http://www.linkedin.com/in/michaelrtaylor1" target="_blank" style="letter-spacing:1px;color:#333333;">http://www.linkedin.com/in/michaelrtaylor1</a></span>                          
                       </div>                          
                    </div>
                </div>
            </div>
        </div>