
            <div class="container-fluid background-img-div"> <!-- container-fluid/conatiner -->
            <div class="row">
                <div class="col-sm-12 text-center header-row">
                       <span class="extra-large-text text-corners">FUNNY SURVEY RESULTS</span>
                </div>
            </div>
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1 text-center">
                        <span class="large-text"><span class="text-corners">96%</span> of Surveys Completed</span><br />
                        <span class="small-text">Out of <span class="text-corners">20</span> surveys started.</span>
                    </div>
                    <div class="col-sm-5">
                       <img src="img/phone.png" style="width:100%;>
                    </div>
                </div>
            </div>
        

