        <!-- Default Responsive Bootstrap Navigation -->

        <!-- Include radim class to the nav to make it vertical -->
        <nav class="radim navbar navbar-default" role="navigation">
            <div class="navbar-header" style="height:110px;">

                <!-- Your Brand Name -->
                <a class="navbar-brand" href=""><img src="img/logo.png"/></a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">

                    <!-- The navbar content here -->

                    <!-- Search -->

                    <li class="seperator"></li>

                    <!-- Menu -->

                    <li class="active">
                        <a ui-sref="home">
                            <span class="glyphicon glyphicon glyphicon-home glyphicon-size-active"></span>
                            <span class="menu-description gill-sans-menu-active">Home</span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="responseData">
                            <span class="glyphicon glyphicon-list glyphicon-size"></span>
                            <span class="menu-description gill-sans-menu">Response Data</span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="about">
                            <span class="glyphicon glyphicon-info-sign glyphicon-size"></span>
                            <span class="menu-description gill-sans-menu">About This App</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- End of default navbar -->

        <!-- Your Page Content // Add container-radim class to the div which should be the only sibling of "nav.radim" -->
        <div class="container-radim" id="background-size-div">
            <div class="container-fluid" id="background-img-div"> <!-- container-fluid/conatiner -->
            <div class="row">
                <div class="col-sm-12 text-center header-row">
                       <span class="extra-large-text text-corners">FUNNY SURVEY RESULTS</span>
                </div>
            </div>
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1 text-center">
                        <span class="large-text"><span class="text-corners">96%</span> of Surveys Completed</span><br />
                        <span class="small-text">Out of <span class="text-corners">20</span> surveys started.</span><br />
                        <nvd3 options="options" data="data"></nvd3>k;jj
                    </div>
                    <div class="col-sm-5">
                       <img src="img/phone.png" style="width:100%;" />
                    </div>
                </div>
            </div>
        </div>
        
