
        <!-- Default Responsive Bootstrap Navigation -->

        <!-- Include radim class to the nav to make it vertical -->
        <nav class="radim navbar navbar-default" role="navigation">
            <div class="navbar-header" style="height:110px;">

                <!-- Your Brand Name -->
                <a class="navbar-brand" href=""><img src="img/logo.png"/></a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">

                    <!-- The navbar content here -->

                    <!-- Search -->

                    <li class="seperator"></li>

                    <!-- Menu -->

                    <li>
                        <a ui-sref="home">
                            <span class="glyphicon glyphicon glyphicon-home glyphicon-size"></span>
                            <span class="menu-description gill-sans-menu">Home</span>
                        </a>
                    </li>
                    <li class="active">
                        <a ui-sref="responseData">
                            <span class="glyphicon glyphicon-list glyphicon-size-active"></span>
                            <span class="menu-description gill-sans-menu-active">Response Data</span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="about">
                            <span class="glyphicon glyphicon-info-sign glyphicon-size"></span>
                            <span class="menu-description gill-sans-menu">About This App</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- End of default navbar -->

        <!-- Your Page Content // Add container-radim class to the div which should be the only sibling of "nav.radim" -->
        <div class="container-radim" id="background-size-div">
            <div class="container-fluid" id="background-img-div"> <!-- container-fluid/conatiner -->
            <div class="row">
                <div class="col-sm-12 text-center header-row">
                       <span class="extra-large-text text-corners">SURVEY RESPONSE DATA</span>
                </div>
            </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row text-center">
                            <div class="col-sm-9">
                                <span class="question-text">Are tabs better than spaces?</span>
                            </div>
                            <div class="col-sm-3 question-row">
                               <nvd3 options="optionsChart1" data="dataChart1"></nvd3>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-sm-9">
                                <span class="question-text">Have you ever sang along to a song you didn't know all the words to?</span>
                            </div>
                            <div class="col-sm-3 question-row">
                                <nvd3 options="optionsChart2" data="dataChart2"></nvd3>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-sm-9">
                                <span class="question-text">Have you ever used dynamite when playing the game rock paper scissors?</span>
                            </div>
                            <div class="col-sm-3 question-row">
                                <nvd3 options="optionsChart3" data="dataChart3"></nvd3>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-sm-9">
                                <span class="question-text">Have you ever tried to push a public door open when it said pull?</span>
                            </div>
                            <div class="col-sm-3 question-row">
                                <nvd3 options="optionsChart4" data="dataChart4"></nvd3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="col-sm-12 question-row text-center">
                            <span class="question-text"><i class="text-corners glyphicon glyphicon-volume-up" style="font-size: 1.3em;background:#edba00;"></i> Who is your favorite superhero and why?</span><br/>
                            <span class="small-text">(Transcription/Audio Recording)</span><br/><br />

                            <div id="custom-scrollbar" class="flexcroll">
                            <table class="table table-bordered  table-striped table-responsive" style="width:99%;">
                                <tr class="row-height">
                                    <td class="col-sm-11 text-center extra-small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat diam sed arcu imperdiet,Phasellus sed.</td>
                                    <td class="col-sm-1 text-center"><i class="glyphicon glyphicon-play play-button" title="Play Audio"></i></td>
                                </tr>
                                <tr class="row-height">
                                    <td class="col-sm-11 text-center extra-small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat diam sed arcu imperdiet. Phasellus sed.</td>
                                    <td class="col-sm-1 text-center"><i class="glyphicon glyphicon-stop stop-button" title="Stop Audio"></i></td>
                                </tr>
                                <tr class="row-height">
                                    <td class="col-sm-11 text-center extra-small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat diam sed arcu imperdiet,Phasellus sed.</td>
                                    <td class="col-sm-1 text-center"><i class="glyphicon glyphicon-play play-button" title="Play Audio"></i></td>
                                </tr>
                                <tr class="row-height">
                                    <td class="col-sm-11 text-center extra-small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat diam sed arcu imperdiet. Phasellus sed.</td>
                                    <td class="col-sm-1 text-center"><i class="glyphicon glyphicon-stop stop-button" title="Stop Audio"></i></td>
                                </tr>
                            </table>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
